.case{
    width: 230px;
    height: 230px;
    padding: 10px;
    color:#fff;
    margin-left: 100px;
    text-align: left;
    display: flex;
    align-items: flex-end;
    font-size: 21px;
    line-height: 28px;
    border: none;
    
}
.case:hover{
    border: 2px solid #ECECEC;
}
.case:active{
    border: 2px solid #ECECEC;
}
.green{
    background: #20D674;
    color:#0F0F0F;
}
.pink{
    background:#D56E72;
}
.purple{
    background: #8A77CB;
}
.cian{
    background: #4AA0BA;
}
