.header-test{
    background: #0D42FF;
    color: white;
    position: fixed;
    width: calc(100% - 60px);
    height: 90vh;
    padding-left: 28px;
    font-size: 20px;
    padding-right: 36px;
    padding-top: 16px;
    font-weight: 600;
    top: 0;
}

.content{
    width: calc(100% - 32px);
    min-height: 1000px;
    background: #0F0F0F;
    position: absolute;
    border-radius: 16px 16px 0px 0px;
    margin-top: 30px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
}