@font-face {
    font-family: 'SF Pro Text';
    src: local('SF Pro Text'), url(fonts/SF-Pro-Text-Regular.otf) format('woff');
    font-weight: 400;
}
@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'), url(fonts/SF-Pro-Text-Bold.otf) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'), url(fonts/SF-Pro-Text-Heavy.otf) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro Text';
  src: local('SF Pro Text'), url(fonts/SF-Pro-Text-Ultralight.otf) format('woff');
  font-weight: 300;
}