.checkbox{
    color: white;
}

.radio__heading{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
}

.radio__text{
    font-size: 12px;
    font-weight: 300;
}

.checkbox{
    display: flex;
    justify-content: start;
    align-items: start;
}