.header{
    width: 320px;
    height: 50px;
    color: #000;
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mainScreen{
    margin-top: -50px;
    background-color: #0F0F0F;
}
.text{
    color:#ECECEC;
    line-height: 22px;
    font-size: 16px;
    padding: 20px;
    font-weight: 400;

}
.h1{
    line-height: 32px;
    font-size: 20px;
    text-align: center !important;
    font-style: bold;
    font-weight: 600;

}

.h2{
    color:#ECECEC;
    line-height: 32px;
    font-size: 24px;
    font-style: bold;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;

}
.choosedCase{
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A2A2A2 !important;
}

.btn{
    margin-top:25px;
    margin-bottom: 15px;
}
.wrapper{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.team{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color:#ECECEC;
    margin-top: 50px;
    font-weight: 600;
}
.copyright{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color:#ECECEC;
    margin-top: 20px;
}
.scrollToTop{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color:#ECECEC;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;

}

.headWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap:10px;
}