.defBtn{
    width: 343px;
    height: 43px;
    outline: none;
    border: none;
    border-radius: 2px;
    color:#ECECEC !important;
    font-family: 'SF Pro Text' !important;
    text-transform: none !important;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    font-style: bold;
    align-items: center;
    justify-content: center;
    background: #0D42FF !important;
    cursor: pointer;
}
.disactive{
    cursor: unset;
    color:#858484 !important;
    background: #3F3F3F !important;
}
.outline{
    background: none !important;
    border: 2px solid #BABABA !important;

}